body {
  background: #12151c;
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  user-select: none;
}

#topBar {
  margin-top: 10px;
  font-size: 22px;
  display: flex;
  justify-content: space-around;
}

#board {
  width: 90vw;
  max-width: 420px;
  height: 90vw;
  max-height: 420px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 3px;
}

.cell {
  width: 100%;
  background: #1e2635;
  border-radius: 6px;
  transition: 0.15s;
}

.filled {
  background: #4aa3ff;
  box-shadow: 0 0 10px #4aa3ff;
}

.highlight {
  background: #67d46f !important;
  box-shadow: 0 0 15px #67d46f;
}

#pieces {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}

.piece {
  display: inline-grid;
  background: #1e2635;
  padding: 12px;
  border-radius: 10px;
  gap: 3px;
  position: relative;
  transition: transform .2s;
}

.piece div {
  width: 28px;
  height: 28px;
  background: #4aa3ff;
  border-radius: 5px;
}

#jokerBar {
  margin-top: 30px;
}

.jokerBtn {
  background: #303a4d;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
}

#dailyChallenge {
  margin-top: 20px;
  font-size: 18px;
}

#restartBtn {
  margin-top: 25px;
  padding: 14px 24px;
  font-size: 18px;
  border-radius: 10px;
  background: #4aa3ff;
  border: none;
  cursor: pointer;
}
